html * {
    font-family: "poppins", sans-serif;
    font-style: normal;
    color: black;
}

body, H1 {
    font-weight: 400;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

header i {
    margin-left: 5px;
    margin-right: 5px;
}

.avatar {
    width: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.subheading {
    font-weight: 700;
    text-transform: uppercase;
}

.socials {
    display: flex;
    justify-content: center;
}

.background {
    width: 100%;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    display: flex;
    flex-direction: column;
}

.tile iframe {
    width: 560px;
    height: 315px;
    margin: 20px 5px;
}

.functions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -10px;
}

iframe {
    border: 0px;
}